cffi
numpy
qualname
keras_preprocessing
Pillow
cmake-build-extension
ninja
requests
regex
torch
torchaudio
torchvision
onnx
transformers
sentencepiece
einops
pip
# peft-related
scipy
bitsandbytes 
datasets 
accelerate 
loralib
triton
peft
